# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/
dist/
build/

# Virtual environments
venv/
env/
*.env
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# IDEs/editors
.vscode/
.idea/

# Mac/Unix/Windows
.DS_Store
Thumbs.db

# === Ignore all photos/images ===
#*.jpg



# === Data folder contents ===
# Keep folder structure but ignore downloaded data/models
data/*
!data/.gitkeep
